<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">&nbsp; Playlist</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>Welcome, <%= @currUser.first_name %> <%= @currUser.last_name %>!</li>
        <li class="headerlogout"><a href="/songs">Dashboard</a></li>
      <li class="headerlogout"><a href="/sessions/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="wrapperlistsshow">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %>'s Playlist</h1>
    <div class="tablewrapper">
      <table class="highlight bordered">
        <thead>
          <th>Artist</th>
          <th>Title</th>
          <th># Times Added</th>
        </thead>
        <tbody>
          <% @songs.each do |song| %>
            <tr>
              <td><%=song.song.artist%></td>
              <td><%=song.song.title %></td>
              <td style="width: 120px; text-align: Center"><%=song.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
